doctype html
html
  head
    block stylesheets
      link(rel='stylesheet', href='/font-awesome/css/all.min.css')
  body
      block content

  block javascripts
    script(src='/angular/angular.min.js')
